.advantages-item {
    background-color: #E5E5E5;
}

.advantages-item-img-rigth {
    background-color: #83B3D3;

}

.card-opacity-12 {
    background-color: rgba(131, 179, 211, 0.12);
}


.card-opacity-20 {
    background-color: rgba(131, 179, 211, 0.2);
}

.button {
    background-color: #756157;
    color: #ffff;
    border-radius: 4px;
}

.button-blue {
    background-color: #82B3D3;
}
